<div class="container-fluid">
  <div class="row p-4 p-sm-5 bg-dark text-white">
    <div class="col-md-3 p-2">
      <div class="d-flex">
        <h5><strong>ABOUT US</strong></h5>
      </div>
      <div class="d-flex">
        <p>
          We the team Mars Developer is a set of high caliber professionals who have been delivering experience of certainty to all our valuable clients.It is flawless craftsmanship and timely delivery that stands us out from the crowed market of IT services
        </p>
      </div>
    </div>
    <div class="col-md-3 p-2">
      <div class="d-flex">
        <h5><strong>QUICK LINK</strong></h5>
      </div>
      <div class="d-flex">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">
              ABOUT US
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              TESTIMONIALS
           </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              SERVICES
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              BLOG
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-3 p-2 ">
      <div class="d-flex">
        <h5><strong>FOLLOW US!</strong></h5>
      </div>
      <div class="d-flex">
        <a href="#">
          <img class="img-thumbnail"
                src="./assets/facebook_logo.png" 
                height="50px" width="50px"
                alt="facebook">
          <img class="img-thumbnail"
                src="./assets/twitter_logo.png" 
                height="50px" width="50px"
                alt="twitter">
          <img class="img-thumbnail"
          src="./assets/linkedin_logo.png" 
          height="50px" width="50px"
          alt="linkedin">
          <img class="img-thumbnail"
                src="./assets/github_logo.png" 
                height="50px" width="50px"
                alt="github">
        </a>
      </div>
    </div>
    <div class="col-md-3 p-2">
      <div class="d-flex">
        <h5><strong>CONTACT US</strong></h5>
      </div>
      <div class="d-flex">
        <div>
          <p>
            <strong>Email: </strong>anup@marsdeveloper.com
          </p>
          <p>
            <strong>Phone: </strong>+91-7678638165
          </p>
          <p>
            <strong>Address: </strong>
            Office No. 1126,
            I-Thum Tower-A,
            A-40, Sector 62,
            Noida, 201301
          </p>
        </div>
      </div>
    </div>
  </div>
</div>