<div class="container">

  <div class="row py-5">
    <div class="col-sm-4 ">
      <h3 class="text-dark-50"><strong>Get In Touch</strong></h3>
      <h5 class="text-muted py-2">
        <span class="fa fa-envelope"></span><span>  anup.soft.bit@gmail.com</span>
      </h5>
      <h5 class="text-muted py-2">
          <span class="fa fa-phone"></span><span>  +91-8969157254</span> <span class="text-success fa fa-whatsapp"></span>
        </h5>
      <div class="row text-muted py-2">
        <div class="col-1"><h5><span class="fa fa-address-book"></span></h5></div>
        <div class="col"><h5>
            <p>Office No. 1126, </p>
            <p>I-Thum Tower, </p>
            <p>A-40, Sector 62, </p>
            <p>Noida, 201301</p>
            </h5>
        </div>
      </div>
        
    </div>
     <div class="col-sm-4 p-2">
       <div class="bg-info text-white p-3">
          <h4 class="d-flex justify-content-center py-2"> QUICK ENQUIRY </h4>
          <form action="#">
            <div class="form-group">
              <input type="text" class="form-control" id="name" placeholder="Name">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="form-group">
                  <input type="phone" class="form-control" id="phone" placeholder="Phone">
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="5" id="comment" placeholder="Comment"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
       </div>
     </div>

     <div class="col-sm-4">
        <div class="container-fluid">
            <div class="jumbotron d-flex justify-content-center">
                <h1>Map</h1>
              </div>
        </div>
    </div>
  </div>
</div>