<nav class="navbar navbar-expand-md sticky-top bg-primary navbar-primary text-white">
    <a class="navbar-brand" routerLink="/">
        <img src="/assets/Mars-Developer-full-logo.png" alt="Mars Developer">
    </a>
    <button class="navbar-toggler bg-light"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarSupportedContent" 
            aria-expanded="true" 
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>   
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav  mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLink="/about-us" routerLinkActive="active">ABOUT US</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/testimonials" routerLinkActive="active">TESTIMONIALS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/services" routerLinkActive="active">SERVICES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact-us" routerLinkActive="active">CONTACT US</a>
            </li>
        </ul>
        <form class="d-flex my-2 my-lg-0 ">
            <input class="form-control" type="search" placeholder="Search">
            <button class="btn btn-outline-white" type="submit">Search</button>
        </form> 
    </div>
</nav>