<div class="container px-3 py-5">
  <h3 class="d-flex justify-content-center p-3"><strong>TESTIMONIALS</strong></h3>
  <div class="row">
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top rounded-circle py-2 px-5" src="./assets/nishant-arya.jpg" height="300px">
            <div class="card-body">
              <h3 class="card-title d-flex justify-content-center">Nishant Arya</h3>
              <p class="d-flex justify-content-center">newcore.net.in</p>
              <div class="card-text">
                  welcome to new era of digital world in which every one need website. 
                  due to this we will provide website for small business, startup,shop and multi national company.
                  Our startup provide cheapest and latest tech based website.
              </div>
            </div>
          </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top rounded-circle py-2 px-5" src="./assets/richa-gaur.jpg" height="300px">
            <div class="card-body">
              <h3 class="card-title d-flex justify-content-center">Richa Gaur</h3>
              <p class="d-flex justify-content-center">gocanada.co.in</p>
              <div class="card-text">
                  welcome to new era of digital world in which every one need website. 
                  due to this we will provide website for small business, startup,shop and multi national company.
                  Our startup provide cheapest and latest tech based website.
              </div>
            </div>
          </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top rounded-circle py-2 px-5" src="./assets/july-wu.png" height="300px">
            <div class="card-body">
              <h3 class="card-title d-flex justify-content-center">July Wu</h3>
              <p class="d-flex justify-content-center">gatesfence.com</p>
              <div class="card-text">
                  welcome to new era of digital world in which every one need website. 
                  due to this we will provide website for small business, startup,shop and multi national company.
                  Our startup provide cheapest and latest tech based website.
              </div>
            </div>
          </div>
    </div>
  </div>
</div>